<!doctype html>
<html lang="en">

<head>
  <title>Codenation</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <h1>Fazer upload do Arquivo answer.json</h1>
    <!-- 
        Para enviar uma requisicao para a API do Codenation voce precisara de um cadastro na plataforma deles e pegar o seu TOKEN.
        Vc substituira o action do form que esta como '/' para https://api.codenation.dev/v1/challenge/dev-ps/submit-solution?token=SEU_TOKEN
        e pronto estara funcionando.
      -->
    <form class="form-group" action="/upload" method="post" enctype="multipart/form-data">
      <div class="row col-md-12">
        <label for="answer">Arquivo</label>
        <input type="file" class="form-control-file" name="answer" id="answer">
      </div>
      <div class="row col-md-12 mt-4">
        <button type="submit" class="btn btn-outline-primary btn-block">Upload</button>
      </div>
    </form>

    <br />
    <hr />

    <form class="form-group" action='/generateFileJsonCipher' method='get'>
      <h2>Gerar novo JSON com a mensagem cifrada e resumo criptografico cifrado</h2>
      <div class="row col-md-12 mt-4">
        <button type="submit" class="btn btn-success">Cifrar</button>
      </div>
    </form>

    <br />
    <hr />

    <form class="form-group" action='/generateFileJsonDecipher' method='get'>
      <h2>Gerar novo JSON com a mensagem decifrada e resumo criptografico decifrado</h2>
      <div class="row col-md-12 mt-4">
        <button type="submit" class="btn btn-danger">Decifrar</button>
      </div>
    </form>



  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>